[submodule "fasd/src"]
	path = fasd/src
	url = https://github.com/clvv/fasd.git
[submodule "dynamic-colors/dynamic-colors"]
	path = dynamic-colors/dynamic-colors
	url = https://github.com/thawk/dynamic-colors.git
[submodule "myrepos/src"]
	path = myrepos/src
	url = git://myrepos.branchable.com/
[submodule "percol/src"]
	path = percol/src
	url = https://github.com/mooz/percol.git
