[submodule "fasd/src"]
	path = fasd/src
	url = https://github.com/clvv/fasd.git
[submodule "taskwarrior/.task/taskpirate"]
	path = taskwarrior/taskpirate
	url = https://github.com/tbabej/taskpirate.git
[submodule "taskwarrior/.task/hooks/task.default-date-time.symlink"]
	path = taskwarrior/.task/hooks/task.default-date-time.symlink
	url = https://github.com/tbabej/task.default-date-time.git
[submodule "dynamic-colors/dynamic-colors"]
	path = dynamic-colors/dynamic-colors
	url = https://github.com/sos4nt/dynamic-colors.git
