[submodule "fasd/src"]
	path = fasd/src
	url = https://github.com/clvv/fasd.git
[submodule "dynamic-colors/dynamic-colors"]
	path = dynamic-colors/dynamic-colors
	url = https://github.com/thawk/dynamic-colors.git
[submodule "myrepos/src"]
	path = myrepos/src
	url = git://myrepos.branchable.com/
[submodule "percol/src"]
	path = percol/src
	url = https://github.com/mooz/percol.git
[submodule "gdb/repos/gdb-automatic-deadlock-detector"]
	path = gdb/repos/gdb-automatic-deadlock-detector
	url = https://github.com/xmementoit/gdb-automatic-deadlock-detector
[submodule "gdb/repos/Gdbinit"]
	path = gdb/repos/Gdbinit
	url = https://github.com/gdbinit/Gdbinit
